* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
}

header {
    height: 200px;
    width: 100%;
    position: relative;
}

header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.collection {
    width: 75%;
    background-color: black; /* Blue for visibility */
    position: absolute; /* To position it inside the header */
    top: 100px; /* Push it slightly inside the header */
    left: 10%;
    color: white;
    text-align: center;
}

.collection h1{
    padding-top: 100px;
}

.collection p {
    padding: 10px 60px;
    font-size: 20px;
}

.collection button {
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.btns .products {
    margin-right: 20px;
    background-color: gray;
}



.collection .cards {
    padding: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.cards .card {
    color: white;
}


.card .popular {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    background-color: #fcba03;
    color: black;
    border-radius: 15px;
}

/* .cards .card .card-body .titles{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
} */

.titles .price {
    background-color: #008f7a;
    padding: 10px;
    border-radius: 5px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center items */
}

.left {
    display: flex;
    align-items: center; /* Align icon and text vertically */
    gap: 5px;
}

/* .left .card-text{
    padding: 0;
    margin: 0;
    width: 100px;
} */
.bottom .sold {
    color: red;
    padding: 0;
    margin: 0;
}
.show {
    display: none;
}

.ratings {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ratings .card-text {
    padding: 0;
}

@media (max-width: 480px) {
    .collection .btns {
        display: flex;
    }
}