* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
}

header {
    height: 200px;
    width: 100%;
    position: relative;
}

header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.collection {
    width: 75%;
    background-color: black; /* Blue for visibility */
    position: absolute; /* To position it inside the header */
    top: 100px; /* Push it slightly inside the header */
    left: 10%;
    color: white;
    text-align: center;
}

.collection h1{
    padding-top: 100px;
}

.collection p {
    padding: 10px 60px;
}

.collection button {
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    color: white;
    /* background-color: black; */
    background-color: grey;
    border: none;
    cursor: pointer;
}

.products {
    margin-right: 20px;
}

.selected {
    background-color: grey;
}

.collection .cards {
    padding: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.cards .card {
    color: white;
}

.card-body .titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.titles .price {
    background-color: #008f7a;
    padding: 10px;
    border-radius: 5px;
}